#titulo{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#binario{
    text-align: center;
}
#binario-text{
    text-align: center;
}
#entrada{
    width: 60vw;
    height: 10vh;
    margin-left: 20vw;
}
#convertir{
    width: 30vw;
    margin-left: 35vw;
    height: 5vw;
}

#salida{
    text-align: center;
}
@media screen and (max-width: 767px){
    #convertir{
        width: 40vw;
        margin-left: 30vw;
        height: 15vw;

    }
}