footer {
    background-color: #004d40; /* Verde oscuro */
}

.white {
    background-color: #ffffff !important;
    border-radius: 12px;
    border-color: #ffffff !important;
}

.navbar-brand, .nav-link {
    color: #ffffff !important; /* Blanco */
}

.nav-link:hover {
    color: #004d40 !important; /* Verde oscuro */
}

.navegar {
    background-color: #00796b !important; /* Verde medio */
    color: #ffffff !important; /* Blanco */
}

body {
    background-color: #e0f2f1 !important; /* Verde claro */
    color: #263238; /* Gris oscuro */
}

input {
    background-color: #ffffff !important; /* Blanco */
    font-family: serif;
    color: #263238; /* Gris oscuro */
    border: 1px solid #00796b; /* Verde medio */
    border-radius: 12px;
}

::placeholder {
    color: #00796b; /* Verde medio */
    text-align: center;
}

h1 {
    text-align: center;
    color: #263238; /* Gris oscuro */
}

.centrar-texto {
    text-align: center;
}

.titulo {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: #263238; /* Gris oscuro */
}

.entrada {
    width: 60vw;
    height: 10vh;
    margin-left: 20vw;
}

.convertir {
    width: 30vw;
    margin-left: 35vw;
    height: 5vw;
}

.espacio-arriba {
    padding-top: 4vh;
}

.centrar {
    width: 30vw;
    margin-left: 35vw;
    height: 5vw;
    margin-top: 20px;
}

.espacio {
    margin: 4px;
}

@media screen and (max-width: 700px) {
    .centrar {
        width: 50vw;
        margin-left: 25vw;
        height: 15vw;
    }

    .mini-tb {
        max-width: 10vw !important;
        margin: 0;
    }
}
